@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Car Portal!</h1>
    <div class="row">
        <a class="btn btn-primary w-50 offset-md-3 m-2" asp-controller="Offer" asp-action="SeeAll">Browse offers</a>

        <a class="btn btn-primary w-50 offset-md-3 m-2" asp-controller="Offer" asp-action="AddOffer">Add offer!</a>

        <a class="btn btn-secondary w-50 offset-md-3 m-2" asp-controller="Offer" asp-action="SeeAll">Search</a>

        <a class="btn btn-info w-50 offset-md-3 m-2" asp-controller="Offer" asp-action="SeeAll">Forum</a>
    </div>
</div>
