@using CarPortal.Web.Models.Home;
@model HomePageViewModel

@{
    ViewData["Title"] = "HomePage";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<partial name="_OfferCollectionPartial" model="@Model.RecentOffers"></partial> 
<partial name="_NewsCollectionPartial" model="@Model.RecentNewsArticles"></partial> 

<div class="text-center">
    <h1 class="display-4">Welcome to the Car Portal!</h1>
    <div class="row">
        <a class="btn btn-primary col-4 offset-4 mt-1" asp-controller="Offer" asp-action="BrowseRecent">Browse recent offers</a>

        <a class="btn btn-primary col-4 offset-4 mt-1" asp-controller="Offer" asp-action="AddOffer" >Add offer!</a>

        <a class="btn btn-secondary col-4 offset-4 mt-1" asp-controller="Search" asp-action="CustomSearch">Search</a>

        <a class="btn btn-info col-4 offset-4 mt-1" asp-controller="Offer" asp-action="SeeAll">Forum</a>
    </div>
</div>
