@using CarPortal.Web.Models.Home;
@model HomePageViewModel

@{
    ViewData["Title"] = "Welcome";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center">This is a website for trading and discussing about cars.</p>
<br />
<div class="container border border-2 bg-light">
    <h4 class="text-center mt-3">Here are some of the most recently uploaded offers:</h4>
    <hr />
    <partial name="_OfferCollectionPartial" model="@Model.RecentOffers"></partial>
    <br />
    <div class="text-center">
        <div class="btn-group btn-group-lg" role="group">
            <a class="btn btn-primary" asp-action="BrowseRecent" asp-controller="Offer" >Browse more recent offers</a>
            <br />
            <a class="btn btn-outline-primary" asp-action="Offers" asp-controller="Search" >Search for a specific car</a>
            <br />
            <a class="btn btn-primary" asp-action="Add" asp-controller="Offer" >Sell your car!</a>
        </div>
    </div>
    <br />
</div>
<br />
<div class="border border-2 bg-light text-center">
    <h4 class="text-center mt-3">Here are some of the most recent news and articles:</h4>
    <partial name="_NewsCollectionPartial" model="@Model.RecentNewsArticles"></partial>
    <a class="btn btn-secondary mb-2" asp-action="Index" asp-controller="News">Read more here!</a>
</div>