@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Car Portal!</h1>
    <div class="row">
        <a class="btn btn-primary col-4 offset-4 mt-1" asp-controller="Offer" asp-action="BrowseRecent">Browse recent offers</a>

        <a class="btn btn-primary col-4 offset-4 mt-1" asp-controller="Offer" asp-action="AddOffer" >Add offer!</a>

        <a class="btn btn-secondary col-4 offset-4 mt-1" asp-controller="Offer" asp-action="SeeAll">Search</a>

        <a class="btn btn-info col-4 offset-4 mt-1" asp-controller="Offer" asp-action="SeeAll">Forum</a>
    </div>
</div>
