@using CarPortal.Web.Models.News;
@model List<NewsArticleInCollectionViewModel>

@{
    ViewData["Title"] = "Most recent news and articles";
}

<partial name="_NewsCOllectionPartial"></partial>

<hr />
<h4 class="text-center">Are you looking for a specific article?</h4>